body {
    display: block;
    background-color: #D3D3D3;
    text-align: center;
}

#title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}
h2 {
    margin-left: auto;
    padding: auto;
    padding-top: 25px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 55px solid white;
    max-width: 492px;
    max-height: 625px;
}

cite {
    padding-left: 20px;
}

figcaption {
    display: block;
    font-style: italic;
}

figure {
    background-color: white;
    padding-bottom: 20px;
}

li {
    font-size: 20px;
    padding: 15px 0;
}

.quote {
    font-size: large;
}

.container {
    text-align: left;
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #477ca7;
    text-decoration: none;
}
a:visited {
    color: #477ca7;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-size: 1.3rem;
}
a:active {
    color: #477ca7
}
